<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demo_iPhone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>demo_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>imageLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E11F1F9D1EE1B3B4008F9F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E11F1FAF1EE1B521008F9F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E11F1FC21EE1B521008F9F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E11F1FD81EE1B5A2008F9F0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E13031591F019A3F009D126C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
